
#body{
  background-color:#eeeeee;
}

.nav-list{
  background:gold;
  box-shadow:0px 0px 10px;
  margin:0;
  padding:1rem 0;
  display:flex;
  justify-content: flex-end;
  align-items:center;
  font-size:225%;
  font-family: "open sans extra bold";
}

.nav-item{
  list-style:none;
  margin-right:2rem;
}

.nav-item a{
  text-decoration:none;
  color:black;
}

.nav-item:first-child{
  margin-right:auto;
  margin-left:2rem;
}

.column {
  float: left;
  width: 32%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gold;
  color: black;
  text-align: left;
  box-shadow: 0px 0px 10px;
  padding: 1px;
}