
#body{
  background-color:#c5c1c1;
}

.title {
  float: right;
  
}

.logo {
  display: flex;
  justify-content: flex end;
}

.nav-list{
  background:gold;
  box-shadow:0px 0px 10px;
  margin:0;
  padding:0.25rem;
  display:flex;
  justify-content: flex-end;
  align-items:center;
  font-size:300%;
  font-family: "open sans bold";
}

.nav-item{
  list-style:none;
  margin-right:2rem;
}

.nav-item a{
  text-decoration:none;
  color:black;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}


.img {
  height: 300px;
  margin-top: 400px;
  
}

/* Slideshow container */
.slideshow-container {
  max-width: 1280px;
  position: relative;
  margin: auto;
  height: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

div.gallery {
  margin: auto;
  float: left;
  width: 50%;
  text-align: center;
}

div.gallery:hover {
  border: 5px solid #777;
}



div.desc {
  padding: 15px;
  text-align: center;
}

.fade-in-image { animation: fadeIn 5s }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

hr.solid {
  border-top: 3px solid #bbb;
}

.block1 {
  background-color: darkgray;
}

.block2 {
background-color:rgb(139, 50, 50);
font-size: 2.75vw;
display: inline-block;
}

.block3 {
  background-color:rgb(218, 159, 50);
  font-size: 2.75vw;
  display: inline-block;
}
.block3 .secondblockimg img{
  margin-top: 10px;
}

.maptitle {
  font-size: 4vw;
}

.mapwords {
  font-size:2vw;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

#myBtn {
  display: block;
  margin: 0 auto;
  bottom: 20px; /* Place the button at the bottom of the page */
  z-index: 99999; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(0, 0, 0); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  align-items: center;
}

.myBtn:hover {
  background-color: #555; /* Add dark-grey background on hover */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.dropdown {
  width: 100%;
  height: 5.75vw;
}

#selected-options {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

#order-button {
  margin-top: 10px;
  font-size: 20px; 
  padding: 2vw 5vw; 
}

#clear-button {
  display: block;
  margin: 0 auto;
}

#selected-list li {
  cursor: pointer;
}

.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5vw;
  background-color: orange;
  color: black;
  text-align: center;
  box-shadow: 0px 0px 10px;
  padding: 0px;
  display: inline-block;
  font-size:1vw;
}